<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>[[${company.companyName}]]Dashboard</title>
    <link href="../../../resources/static/css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
        <div>
          <a href="">Batches</a>
        </div>
        <div>
          <a href="">Recipes</a>
        </div>
        <div>
          <a href="">Inventory</a>
        </div>
    </nav>
    <h1 th:text="${company.companyName}"></h1>
    <section>
        <a method="get" th:href="@{/createbatch/{companyId} (companyId=${company.companyId})}">Add Batch To Schedule</a>
    </section>
  </body>
</html>
