<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register Your Brewery</h1>
<form method="post" action="">
    <div>
        <label>Company Name:</label>
        <input type="text" th:field="${company.companyName}"/>
    </div>
    <div>
        <label>Company Email:</label>
        <input type="email" th:field="${company.companyEmail}"/>
    </div>
    <div>
        <label>Company Password:</label>
        <input type="password" th:field="${company.companyPassword}"/>
    </div>
    <div>
        <input type="submit" value="Register Company">
    </div>
</form>
</body>
</html>